#cloud-config
ssh_authorized_keys:
{% for public_key in rosonpve_ssh_authorized_keys %}
  - {{ public_key }}
{% endfor %}

hostname: "{{ inventory_hostname }}"

rancher:
  docker:
    engine: "{{ rosonpve_docker_version }}"
    storage_driver: "{{ rosonpve_docker_storage_engine }}"

  network:
    interfaces:
      {{ rosonpve_vm_net }}:
{% if rosonpve_net_ipv4 is not defined %}
        dhcp: true
{% else %}
        dhcp: false
        mtu: 1500
        address: "{{ rosonpve_net_ipv4 }}"
{% if rosonpve_net_gateway is defined %}
        gateway: "{{ rosonpve_net_gateway }}"
{% endif %}
    dns:
      nameservers:
        - "{{ rosonpve_net_dns | default('8.8.8.8') }}"
{% endif %}
